pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://jsonplaceholder.typicode.com/posts"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToSql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource"
								},
								"sink": {
									"storedProcedureName": "InsertPost"
								},
								"enableStaging": false,
								"dataSourceName": {
									"referenceName": "HttpDataset",
									"type": "DatasetReference"
								},
								"dataDestinationName": {
									"referenceName": "AzureSqlDatabaseLinkedService",
									"type": "LinkedServiceReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}